.header{
    font-family: cursive;
    background-color: #23B507;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

.linkstil{
    text-align: center;
}

@media (max-width: 600px) {
    .header{
        padding: 5px;
    }
}